In [146]:
# import pandas as pd
# df=pd.DataFrame()
# df['Sky']=['Sunny','Sunny','Rainy','Sunny']
# df['AirTemp']=['Warm','Warm','Cold','Warm']
# df['Humidity']=['Normal','High','High','High']
# df['Wind']=['Strong','Strong','Strong','Strong']
# df['Water']=['Warm','Warm','Warm','Cool']
# df['Forecast']=['Same','Same','Change','Change']
# df['EnjoySport']=['Yes','Yes','No','Yes']
# df.to_csv('dataset.csv',index=False)

In [163]:
#df

In [164]:
import csv

In [165]:
a=[]

In [166]:
with open('dataset.csv','r') as CSVFile:
    reader=csv.reader(CSVFile)
    for row in reader:
        a.append(row)
        print(row)

['Sky', 'AirTemp', 'Humidity', 'Wind', 'Water', 'Forecast', 'EnjoySport']
['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same', 'Yes']
['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same', 'Yes']
['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change', 'No']
['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change', 'Yes']

In [167]:
a=a[1:]
a

[['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same', 'Yes'],
 ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same', 'Yes'],
 ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change', 'No'],
 ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change', 'Yes']]

In [168]:
len(a)
len(a[0])

7

In [169]:
num_attributes=len(a[0])-1

In [170]:
num_attributes

6

In [171]:
hypothesis=['0']*num_attributes

In [172]:
hypothesis

['0', '0', '0', '0', '0', '0']

In [173]:
for j in range(num_attributes):
    hypothesis[j]=a[0][j]
hypothesis

['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same']

In [177]:
j

5

In [174]:
a

[['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same', 'Yes'],
 ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same', 'Yes'],
 ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change', 'No'],
 ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change', 'Yes']]

In [175]:
for i in range(len(a)):
    if a[i][num_attributes]=='Yes':
        for j in range(num_attributes):
            if a[i][j]!=hypothesis[j]:
                hypothesis[j]='?'
            else:
                hypothesis[j]=a[i][j]
            print(hypothesis)
print(hypothesis)

['Sunny', 'Warm', '?', 'Strong', '?', '?']

In [176]:
df

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same        Yes
1  Sunny    Warm     High  Strong  Warm     Same        Yes
2  Rainy    Cold     High  Strong  Warm   Change         No
3  Sunny    Warm     High  Strong  Cool   Change        Yes

In [ ]:
import csv

a=[]

with open('dataset.csv','r') as CSVFile:
    reader=csv.reader(CSVFile)
    for row in reader:
        a.append(row)
        #print(row)
a=a[1:]
#a

# len(a)
# len(a[0])

num_attributes=len(a[0])-1
#num_attributes

hypothesis=['0']*num_attributes
#hypothesis

for j in range(num_attributes):
    hypothesis[j]=a[0][j]
#hypothesis


for i in range(len(a)):
    if a[i][num_attributes]=='Yes':
        for j in range(num_attributes):
            if a[i][j]!=hypothesis[j]:
                hypothesis[j]='?'
            else:
                hypothesis[j]=a[i][j]
            print(hypothesis)
print(hypothesis)